/* Light theme styles */
[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #000000;
}

/* Dark theme styles */
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 20px;
}

h1 {
    text-align: center;
}

.theme-toggle-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#historyLink {
    text-align: center;
}

#historyContainer {
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#historyContainer table {
    width: 100%;
    border-collapse: collapse;
}

#historyContainer th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
